*{
    box-sizing: border-box;
}

body {
    background: rgb(139, 123, 123);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}