*{
    box-sizing: border-box;
}

body {
    background: rgb(139, 123, 123);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

h1 {
    margin: 10px;
}

.box {
    background: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}